body {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
  text-decoration-color: none;
  text-decoration-line: none;
}

.nav {
  background-color: rebeccapurple;
  color: black;
  padding: 45px;
  font-weight: bolder;
  font-size: 1.4rem;
}

.nav-item:hover {
  color: white;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: rebeccapurple;
}

#footer {
  padding: 75px;
  background-color: rebeccapurple;
  font-weight: bolder;
  color: black;
}

#footer:hover {
  color: white;
}

