html {
  overflow: hidden;
}

html, body {
  height: 100%; 
}

#root {
  overflow-y: scroll;
}

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100%;
  background-color: black;
  color: white;
}

a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
  text-decoration-color: none;
  text-decoration-line: none;
}

/* #tabs {
  top: 0;
  position: absolute;
  width: 100%;
} */

.nav {
  background-color: rebeccapurple;
  color: black;
  padding: 45px;
  font-weight: bolder;
  font-size: 1.4rem;
}

.nav-item:hover {
  color: white;
}

/* #page-content {
} */

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: rebeccapurple;
}

#comment-contact, #user-contact, #email-contact {
  width: 100%;
}

#projects {
  scroll-behavior: auto;
  display: flex;
  align-items: center;
}

#project-picture {
  inline-size: -webkit-fill-available;
  width: 1000px;
  height: 600px;
}

#footer {
  padding: 75px;
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: rebeccapurple;
  font-weight: bolder;
  color: black;
}

#footer:hover {
  color: white;
}

